<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/login.css">
</head>
<body class="login">
    <header>
        
        <div class="hm">
            <a href="/">
                <img src="/images/logo-mercado-liebre.svg" alt="logo">
            </a>
            <div class="search-bar">
                <input type="text" placeholder="Buscar productos, marcas"><a href=""><i class="fas fa-search"></i></a>
            </div>
        </div>
        <div class="cuotas">
            <p><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</p>
        </div>
<div class="ht">
    <nav class="nav-bar">
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
    </nav>
    <nav class="login-bar">
        <ul>
            <li><a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
</div>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
</header>
<main>
    <form action="/">

        <div>
            <input type="text" name="usuario" placeholder="Nombre de usuario" required>
            <span class="feedback">Tu usuario no esta registrado</span>
        </div>

        <div>
            <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña" required>
            <span class="feedback">Tu contraseña es incorrecta</span>
        </div>

       <div class="enviar">
            <input type="submit" value="Entrar">
       </div>

    </form>
</main>
<footer>
    <section>
        <article>
            <i class="fas fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
        <p>● Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
</footer>
</body>
</html>